#contacto {
    margin-left: 4%; 
    margin-right: 4%;
    padding: 20px;
    background-color: var(--color-section-background);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contacto h2 {
    color: var(--color-primary);
}

#contacto p {
    color: var(--color-text);
}

#info-contacto {
    color: var(--color-primary);
}

#info-contacto p {
    margin: 10px 0;
}

#formulario-contacto {
    background-color: var(--color-background);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#formulario-contacto form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--color-primary);
}

#formulario-contacto form input[type="text"],
#formulario-contacto form input[type="email"],
#formulario-contacto form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formulario-contacto form textarea {
    height: 100px;
}

#formulario-contacto form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: var(--color-text);
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formulario-contacto form button:hover {
    background-color: var(--color-secondary);
}
