/* Definición de variables */
:root {
    --header-background: #333;
    --text-color: #fff;
    --link-color: #ffcc00;
    --link-hover-color: #ffcc00; /* Nuevo color al pasar el mouse */
    --link-zoom-scale: 1.25; /* Nuevo valor para la escala al pasar el mouse */
    --link-transition-duration: 0.3s; /* Nueva duración de la transición */
}

/* Estilo base del header */
header {
    background-color: var(--header-background);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Estilo de los elementos <li> */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
    position: relative;
    transition: transform var(--link-transition-duration); /* Usar variable */
}

/* Estilo al pasar el mouse (animación de zoom) */
nav li:hover {
    transform: scale(var(--link-zoom-scale)); /* Usar variable */
}

/* Estilo de los enlaces <a> dentro de <li> */
nav a {
    text-decoration: none;
    color: var(--text-color);
}

/* Cambiar el color de texto al pasar el mouse */
nav li:hover a {
    color: var(--link-hover-color); /* Usar variable */
}

/* Eliminar el zoom en los elementos no seleccionados */
nav li:not(:hover) {
    transform: scale(1);
}
