:root {
  --primary-color: #ffcc00; 
  --secondary-color: #222; 
  --mobile-background: #444; 
  --scroll-to-top-background: #222; 
  --scroll-to-top-color: #fff; 
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  background-color: var(--primary-color);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: var(--secondary-color);
  transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: var(--scroll-to-top-background);
  color: var(--scroll-to-top-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scroll-to-top i {
  font-size: 20px;
}

/* MOBILE */
@media (max-width: 768px) {
  .header {
    height: 60px;
  }

  .logo {
    font-size: 25px;
    line-height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: var(--mobile-background);
    position: fixed;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}
