/* Definición de variables */
:root {
    --color-background: #333; /* Fondo oscuro */
    --color-text: #fff; /* Texto claro */
    --color-primary: #ffcc00; /* Amarillo brillante */
    --color-secondary: #ff9900; /* Amarillo más oscuro */
    --color-section-background: #444; /* Fondo oscuro más claro */
    --color-header-background: #222; /* Fondo oscuro más oscuro */
}

/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el encabezado */
header {
    background-color: var(--color-header-background);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
    color: var(--color-primary);
}

/* Estilo para la imagen del footer */
footer img {
    max-width: 100px; /* Ajusta el valor a tu preferencia para controlar el tamaño máximo de la imagen */
    height: auto; /* Para mantener la proporción de la imagen */
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bold;
}

/* Estilos para las secciones */
section {
    background-color: var(--color-section-background);
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 24px;
    margin: 0 0 20px;
    color: var(--color-primary);
}

/* Estilos para el pie de página */
footer {
    background-color: var(--color-header-background);
    color: var(--color-text);
    text-align: center;
    padding: 10px 0;
}

/* Estilos para enlaces */
a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: #333; /* Texto oscuro para botones */
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--color-secondary);
}

/* Estilos para imágenes */
img {
    max-width: 100%;
    height: auto;
}

/* Estilos para hacer responsive la página */

/* Estilos para el icono de menú */
#menu-icon {
    display: none; /* Inicialmente oculto en resoluciones mayores a 768px */
    font-size: 24px;
    cursor: pointer;
}

/* Estilos para el menú de navegación */
nav {
    display: block;
}

/* Estilos para el menú cuando está oculto */
nav.hide-menu {
    position: fixed;
    top: 0;
    right: -250px; /* Cambia el valor según tus necesidades para ocultar completamente el menú */
    width: 250px; /* Ancho del menú lateral */
    height: 100%;
    background-color: var(--color-header-background);
    z-index: 1000;
    transition: right 0.3s ease;
}

nav.hide-menu ul {
    text-align: left;
}

nav.hide-menu ul li {
    display: block;
    margin: 20px 0;
    text-align: center;
}

nav.show-menu {
    right: 0;
}
